@model Monster

@{
    ViewData["Title"] = "Update Monster";
}

<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <h2 class="text-center">@ViewData["Title"]</h2>
                </div>
                <div class="card-body">
                    <form asp-controller="Monster" asp-action="Edit" method="post">
                        <div class="row">
                        <label asp-for="Name" class="col-6">Name
                        <input type="text" asp-for="Name" class="form-control my-2" placeholder="Name" required /></label>
                        <label asp-for="Level" class="col-3">Level
                        <input type="number" asp-for="Level" class="form-control my-2" placeholder="Level" /></label>
                        <label asp-for="HitPoints" class="col-3">Hit Points
                        <input type="number" asp-for="HitPoints" class="form-control my-2" placeholder="Hit Points" /></label>
                        </div>
                        <div class="row">
                        <label asp-for="Attack" class="col-4">Attack
                        <input type="number" asp-for="Attack" class="form-control my-2" placeholder="Attack" /></label>
                        <label asp-for="Defense" class="col-4">Defense
                        <input type="number" asp-for="Defense" class="form-control my-2" placeholder="Defense" /></label>
                        <label asp-for="Speed" class="col-4">Speed
                        <input type="number" asp-for="Speed" class="form-control my-2" placeholder="Speed" /></label>
                        </div>
                        <button type="submit" class="btn btn-primary w-100 my-2">Update</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>