@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    @* <div class="row p-1">
        <div class="col-1">@User.Identity?.Name<input type="hidden" id="userInput" value="@User.Identity?.Name"/></div>
        <div class="col-5"></div>
    </div> *@
    <div class="row">
        @* <div class="col-6">
            <partial name="Game">
        </div> *@
        <div class="col-12">
            <div class="row p-1" style="height: calc(100vh - 250px);">
                <div class="col-12 ">
                    <ul id="messagesList"></ul>
                </div>
            </div>
            <div class="row p-1">
                <div class="col-12">
                    <hr />
                </div>
            </div>
            <div class="row p-1">
                @* <div class="col-1">Message</div> *@
                <div class="col-12 text-center">
                    <input type="text" class="w-75" id="messageInput" />
                    <input type="button" id="sendButton" value="Send" />
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>